go 1.21.6

use (
	"./2024-01-10 binary tree serialization"
	"./2024-01-11 lowest missing positive"
	"./2024-01-12 first and last of pair"
	"./2024-01-13 xor linked list"
	"./2024-01-14 encoded message"
	"./2024-01-15 count unival subtrees"
	"./2024-01-16 highest nonadjacent sum"
)
